<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

</head>

<body>

    <div class="card">

        <div class="card-header"   >

            Animal List

       </div>

        <div class="table-responsive">

            <table *ngIf="animals.length" class="table table-light table-responsive">

                <thead>

                    <tr>

                      <th scope="col">#</th>

                      <th scope="col">name</th>

                      <th scope="col">description</th>

                      <th scope="col">age</th>

                      <th scope="col">

                        <button class="btn btn-dark"

                        (click)="imageVisibility()">{{showImage ? 'Hide' : 'Show'}} Image</button>

                        </th>

                    </tr>

                  </thead>

                  <tbody>

                    <tr  *ngFor="let animal of animals;let i = index">

                      <td>{{i+1}}</td>

                        <!-- <td>{{animal.name}}</td> -->

                        <td><a [routerLink]="['detail',animal.id]">{{animal.name}}</a></td>

                        <td>{{animal.description}}</td>

                        <td>{{animal.age}}</td>

                        <td><img *ngIf="showImage"

                            [src]='animal.imageUrl'

                            title="I am {{animal.age}} years old"

                            [style.margin.px]="imageMargin"

                            /></td>

                      </tr>

                  </tbody>

                </table>

      

        </div>

        </div>

        <br>

       

</body>

</html>



<router-outlet></router-outlet>
<!-- <div class="card">

    <div class="card-header">Animal List</div>

    <div class="card-body">

    <div class="table-responsive">

        <table class="table table-light table-responsive">

            <thead>

                <tr>

                  <th scope="col">#</th>

                  <th scope="col">name</th>

                  <th scope="col">description</th>

                  <th scope="col">age</th>

                  <th scope="col">Image</th>

                </tr>

              </thead>

              <tbody>

                <tr  *ngFor="let animal of animals;let i = index">

                  <td>{{i+1}}</td>

                    <td>{{animal.name}}</td>

                    <td>{{animal.description}}</td>

                    <td>{{animal.age}}</td>

                    <td><img src='{{animal.imageUrl}}'/></td>

                  </tr>

              </tbody>

            </table>

    </div>

    </div>

    </div>
 -->