
h1{
    text-align: center;
    margin: 20px 0;
}
input{
    display: block;
    margin: 30px auto;
}

table{
    width: 90%;
    margin: auto;
    background-color: aqua;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
table img{
    height: 100px;
    width: 200px;
} 