<div class="container">

    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    
        <div class="form-group"  id="main">
    
            <div>
    
              <label for="id">Id</label>
    
              <input class="form-control" type="text" name="id" id="id" formControlName="id">
    
            </div>
    
              <div *ngIf="id">
    
                <div *ngIf="!id.valid && (id.dirty || id.touched)">
    
                  <div [hidden]="!id.errors?.['required']">Id is required</div>
    
                </div>
    
              </div>
    
    
    
            <div>
    
              <label for="name">Name</label>
    
              <input class="form-control" type="text" name="name" id="name" formControlName="name">
    
            </div>
    
              <div *ngIf="name">
    
                <div  *ngIf="!name.valid && (name.dirty || name.touched)">
    
                 <div [hidden]="!name.errors?.['required']">Name is required</div>
    
                </div>
    
              </div>
    
    
    
            <div>
    
              <label for="issueDate">Publish Date</label>
    
              <input class="form-control" type="date" name="issueDate" id="issueDate" formControlName="issueDate">
    
            </div>
    
    
    
          <div formGroupName="author">
    
           <div>
    
              <label for="authorname">Author Name</label>
    
              <input class="form-control"  type="text" name="authorname" id="authorname" formControlName="authorname">
    
            </div>
    
              <div *ngIf="authorname">
    
                <div *ngIf="!authorname.valid && (authorname.dirty || authorname.touched)">
    
                  <div [hidden]="!authorname.errors?.['required']"> authorname is required </div>
    
                </div>
    
              </div>
    
    
    
            <div>
    
              <label for="authoremail">Email</label>
    
              <input class="form-control" type="text" name="authoremail" id="authoremail" formControlName="authoremail">
    
            </div>
    
              <div *ngIf="authoremail">
    
                <div *ngIf="!authoremail.valid && (authoremail.dirty || authoremail.touched)">
    
                  <div [hidden]="!authoremail.errors?.['required']"> email is required</div>
    
                </div>
    
              </div>
    
          </div>
    
          <div formArrayName="publisher">
    
            <div *ngFor="let publishers of publisher().controls;let bookIndex=index;">
    
                <div [formGroupName]="bookIndex">
    
                Publisher 1:{{bookIndex}}<br>
    
                Publisher Name:
    
                <input class='form-control' type="text" name="publisherName" id="publisherName" placeholder="publisherName" formControlName="publisherName"/>
    
                Publisher EmailId:
    
                <input class='form-control' type="text" name="publisherEmail" id="publisherEmail" placeholder="publisherEmail" formControlName="publisherEmail"/>
    
                </div>
    
                <button (click)="removeBookPublisher(bookIndex)" class="btn btn-outline-danger">Remove Publisher</button><br>
    
            </div>
    
        </div>
    
       
    
        <button type="button" (click)="addBookPublisher()" class="btn btn-primary">Add Publisher</button>
    
          <div calss="btn1">
    
           <button type="submit"  class="btn btn-primary" id="btn2">Submit</button>
    
           <button type="reset" class="btn btn-outline-dark" id="btn3">Reset</button>
    
          </div>
    
        </div>
    
    
    
    </form>
    
    
    
    {{bookForm.value | json}}
    
    
    
    </div>