<app-menu></app-menu>

<div class="div1">


<greeting class="btn1">

    <button class="btn btn-dark" style="margin-left:60px;">Notifications</button>

    <h6>Notification(1)</h6>

    <ul att1>

      <li>All</li>

      <li>Offers</li>
      
      <li>Orders</li>
    </ul>

</greeting>

<greeting class="btn2">

  <button class="btn btn-success" style="margin-left:60px;">Account</button>

  <h6>Account settings</h6>

  <ul>

    <li>Edit Profile</li>

    <li>Select Language</li>

    <li>Notification Setting</li>

  </ul>

</greeting>

</div>

<div class="container main-content">

    <router-outlet></router-outlet>

</div>